<div class="navigation-bar-top">
  <nav class="navbar navbar-expand-lg bg-whight">
    <div class="container-fluid">
      <!--Clinic Logo-->
      <a class="navbar-brand" href="#">
        <img src="../assets/Logo h card.png" width="128" />
      </a>
      <!--Toggler-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">המרפאה</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">טיפולים</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">לקביעת תור</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>





